a{color:#098A8F;}
#menu .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{color:#098A8F;}
.footer-toogle .hover i{color:#098A8F;}
.totop:hover span>a.hover{color:#098A8F;}
.social-icon li:hover a{background:#098A8F;}
.home .slides-navigation a:hover{color:#098A8F;}
.services .services-icon{background:#098A8F;}
.testimonial .icon-testimonial{color:#098A8F;}
.call-ta h2{border-left:3px solid #098A8F;}
.contact form input,.contact form textarea{border-left:1px solid #098A8F;}
.contact form input:focus,.contact form textarea:focus{border:1px solid #098A8F;}
#primary .pagination li:hover a{background:#098A8F;}
#primary .pagination li.active a{background:#098A8F;}
.post .post-meta span a:hover{color:#098A8F;}
.blog-comments form input,.blog-comments form textarea{border-left:1px solid #098A8F;}
.blog-comments form input:focus,.blog-comments form textarea:focus{border:1px solid #098A8F;}
.widgetbar .widget ul li a:hover{color:#098A8F;}
.widget .widget-title a:hover{color:#098A8F;}
form .form-control,form textarea{border-left:1px solid #098A8F;}
form .form-control:focus,form textarea:focus{border:1px solid #098A8F;}
.btn-link:hover{color:#098A8F;}
.pagination li:hover a{background:#098A8F;color:#FFF;}
.pagination li.active a{background:#098A8F;}
.service .icon-holder{color: #098A8F;}
.portfolioFilter li.active{background: #098A8F;border: 1px solid #098A8F;}
.service:hover {border-color: #098A8F;}
.client-photo.active{border: 1px solid #098A8F;}
.to-top-btn:hover{color: #098A8F;}
.sidebar .widget ul li a:hover {color: #098A8F;}
.btn:hover{color: #098A8F;border-color: #098A8F;}
